html, body {
  height: 100%;
  width: 100%;
	background-color: #18191a;
	color: white;
}

.car_container{
	display: inline-block;
	flex-direction: column;
	margin-right: 20px;
	text-align: center;
}

#image2{
	 width: 100px;
}#image1{
	 width: 100px;
}
#results_container{
	margin: 0 auto;
	text-align: center;
}

.button{
	display: flex;
	margin: 0 auto;
	margin-top: 10px;
}