html, body {
  height: 100%;
  width: 100%;

	padding: 0px;
	margin: 0;

	font-family: 'Titillium Web', sans-serif;
	color: white;
}


.header{
	background-color: #3feee6;
	width: 100%;
	display: flex;
	
}
.header_item{
	padding: 5px;
	text-align: center;
	display: inline-block;
	margin: 0 auto;
	color: black;
}

.car_container{
	margin-top: 10px;
	display: inline-block;
	flex-direction: column;
	margin-right: 20px;
	text-align: center;
box-shadow: 20px 10px 50px black;
	border-radius: 10px;
	padding: 5px;
	background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(0,221,214,1) 0%, rgba(51,102,255,1) 90% );
}

#image2{
	 width: 100px;
	height: 70px;
}#image1{
	 width: 100px;
	height: 70px;
}
#results_container{
	margin: 0 auto;
	text-align: center;
	color: black;
	padding: 20px;
	background: rgb(85,188,201);
background: linear-gradient(117deg, rgba(85,188,201,1) 0%, rgba(151,202,239,1) 67%);

}



.buttons{
	display: flex;
	margin: 0 auto;
	margin-top: 10px;
	height: 15px;
border: none;
	border-radius: 6px;
	color: blue;
	background-color: #3feee6;

}
